Origin: XBian
Package: xbian-package-config-xbmc
Version: 1.1.3-21
Section: utils
Essential: No
Priority: optional
Architecture: armhf
Depends: xbian-package-config-shell (>=2.1.6-23)
Breaks: xbian-package-xbmc-scripts (<<1.0.0-1), xbian-package-xbmc-scripts (<<1.0.0-6)
Maintainer: Belese <development@xbian.org>
Description: Configuration utility for XBian.
